* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

main {
    padding: 50px;
}

h2 {
    padding: 20px 0;
}
.exercise {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
  width: 20%;
}

button {
    width: 15%;
    margin: 10px 0;
    padding: 10px 3px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

span {
    padding: 20px 0;
}
